{%- include functions.html func='log' level='debug' msg='Get heading value' -%}
{% assign name = 'heading' %}
{%- include functions.html func='get_value' -%}
{% assign heading = return %}

{%- include functions.html func='log' level='debug' msg='Get subheading value' -%}
{% assign name = 'subheading' %}
{%- include functions.html func='get_value' -%}
{% assign subheading = return %}

<div class="page-banner-default">
  <h1 class="page-banner-heading">
    {{ heading | default: page.title | escape }}
  </h1>
  <div class="headline">
    <p>📌 32년 전통, 최고의 강사진 구성</p>
    <p>📌 영재고 선배들이 추천하는 학원</p>
    <p>📌 정보올림피아드, 대학경시대회 수상자 다년간 배출</p>
    <p>📌 정보처리기능사, 컴퓨터활용능력2급 자격증 수시 개강</p>
  </div>
</div>

<div class="home-btn-area">
    <div class="home-btn" onclick="location.href='/about.html'">
        <div class="home-btn-heading">전화번호</div>
        <div class="home-btn-content">☎ 418-1571, 420-5225</div>
    </div>
    <div class="home-btn" onclick="location.href='/lectures.html'">
        <div class="home-btn-heading">강좌안내</div>
    </div>
    <div class="home-btn" onclick="location.href='/onlinelec.html'">
        <div class="home-btn-heading">온라인 학습</div>
    </div>
    <div class="home-btn" onclick="location.href='/notice.html'">
        <div class="home-btn-heading">공지사항</div>
    </div>
</div>

<style>
    .page-banner-subheading {
        font-weight: 400;
    }
</style>
